.buttonUnderWindow {
  background-color: transparent;
  text-align: center;
  color: #F4F6F7;
  border: 1px #F4F6F7 solid;
  width: 320px;
  height: 50px;
  opacity: 0.9;
  transition: transform 0.03s linear;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
    transform: scale(100.5%);
  }


}