.container {
  position: absolute;
  right: 35px;
  cursor: pointer;
  bottom: 17px;
  .addTaskButton{
    width: 100px;
    height: 30px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    border-radius: 7px;
    cursor: pointer;

    &:active {
      transform: translateY(0.5px);
    }
  }
}
