.border {
  max-width: 570px;
  width: 100%;
  height: 50px;
  border-radius: 11px;
  border: 1px solid #DFDFDF;
  margin: 9px auto;
  position: relative;

  .skeleton{
    max-width: 570px;
    width: 100%;
  }
  .name{
    position: absolute;
    right: 0px;
  }
}