.border {
  max-width: 570px;
  width: 100%;
  min-height: 50px;
  border-radius: 11px;
  border: 1px solid #DFDFDF;
  margin: 9px auto;
  position: relative;

  .skeleton{
    max-width: 570px;
    width: 100%;
  }
  .name{
    position: absolute;
    right: 0px;
  }
}

@media (max-width: 630px) {
  .border {
    //min-height: 44px;
    margin: 5px auto;

    .skeleton{
      //transform: translateY(-3px);

    }
  }

}