.container {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 0 15px 0 15px;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.1s linear, box-shadow 0.1s linear, opacity 0.2s linear;


  .leftBlock {
    display: flex;
    align-items: center;
    opacity: 1;


  }

  .textBlock {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 17px;


    }
    .info{
      display: flex;
      .loginInTask {
        display: flex;
        font-size: 15px;
        background-color: #D9D9D9;
        border-radius: 4px;
        padding: 0 7px 0 7px;
        margin-left: 5px;
        align-items: center;
      }

      .date {
        margin-left: 5px;
        font-size: 15px;
        background-color: #D9D9D9;
        border-radius: 4px;
        padding: 0 7px 0 7px;
      }

      .greenDate {
        background-color: #9EDE95;
      }

      .redDate {
        background-color: #ff8b90;
      }
    }


  }


}

.taskIsDisable {
  opacity: 0.4;
}

.taskIsEnable {
  &:hover {
    //transform: translateY(-1px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  }
}


@media (max-width: 820px) {
  .container {
    cursor: default;

  }
}

