.container {

  font-size: 20px;
  .level{
    font-weight: 550;
    font-size: 28px;

  }
  .name{

  }
  .birthday{

  }

  .inputs{
    display: flex;
    flex-direction: column;
    .input{
      width: 150px;
      height: 26px;
      border-radius: 5px;
      padding-left: 7px;
      padding-right: 7px;
      font-size: 20px;
      margin-top: 3px;
      border: 1px solid #264e58;
    }
    .nameInput{
      padding-bottom: 2px;
    }
    .surnameInput{
      padding-bottom: 2px;
    }
    .dateInput{

    }
  }
}