
.container {
  margin-bottom: 20px;
  height: 22px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .toggleButton {
    display: flex;
    height: 22px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 0;

    margin-bottom: 10px;

  }
  .activeToggleButton{
    border: 1px #9F9F9F solid;

  }

}