.container {
  //position: absolute;
  //right: 0;
  //top: 30px;

  .exitButton{
    border-radius: 11px 11px 0 0;
    background-color: #638892;
    height: 70px;
    width: 40px;
    cursor: pointer;
    transform: translateY(30px);


    transition: transform 0.05s linear;
    padding-left: 15px;
    padding-top: 11px;

    &:hover{
      transform: translateY(25px);
    }

  }
}