.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: background-color linear 0.2s;

  &:hover{
    background-color: rgba(0, 0, 0, 0.5);
    .uploadButton{
      opacity: 1;
    }
    .deleteButton{
      opacity: 1;
    }
  }

  .inputFile{
    overflow: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    position: absolute;

  }
  .uploadButton,.deleteButton{
    opacity: 0;
    transition: opacity linear 0.2s;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 125px;
    height: 35px;
    background-color: transparent;
    color: white;
    border: 1px #D9D9D9 solid;
    border-radius: 22px;
    cursor: pointer;

    &:hover{
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  .displayBlock{
    display: block;
  }

  .uploadButton{
    transform: translate(-50%,-110%);
    &:active{
      transform: translate(-50%,-107%);

    }
  }
  .deleteButton{
    transform: translate(-50%,10%);
    &:active{
      transform: translate(-50%,13%);

    }
  }
  .imageIsDeleted{
    transform: translate(-50%,-50%);
    &:active{
      transform: translate(-50%,-47%);
    }
  }
}
.editImageModeMobile{
  background-color: rgba(0, 0, 0, 0.5);
  .uploadButton,.deleteButton{
    opacity: 1;
  }
}

@media (max-width: 820px) {

  .container{

    .uploadButton,.deleteButton{
      font-size: 13px;
      cursor: default;
      width: 65%;
      height: 30px;
      display: none;
    }
  }
  .editImageModeMobile{
    .uploadButton,.deleteButton{
      display: block;
    }
  }
}
@media (max-width: 400px) {

  .container{
    .uploadButton,.deleteButton{
      width: 75%;
    }
  }
}