.container {
  color: white;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin-bottom: 200px;
  border: 1px #F4F6F7 solid;
  padding: 30px 20px 40px 20px;
  border-radius: 5px;


  .title{
    margin-bottom: 20px;
  }
  .text{
    margin: 0 auto;
    width: 600px;

  }
  .goToButtons{
    display: flex;
    margin: 30px auto 0;
    .button{
      font-size: 15px;
      color: #F4F6F7;
      border: 1px #F4F6F7 solid;
      width: 200px;
      opacity: 0.9;
      margin: 0 10px 0 10px;
      transition: transform 0.03s linear;
      border-radius: 2px;
      &:hover{
        opacity: 1;
        transform: scale(103%);
      }
    }
  }

}