.container {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  color: white;


  .content {
    position: relative;
    display: inline-block;
    background-color: #638892;
    padding: 7px 13px 7px 10px;
    font-size: 16px;
    max-width: 500px;
    border-radius: 0 9px 9px 9px;
    line-height: 1.2;
    word-wrap: break-word;


  }

  .name {
    font-size: 14px;
  }

  .message {
    font-size: 16px;
  }

  .time, .timeHidden {
    font-size: 11px;

  }

  .time {
    position: absolute;
    right: 7px;
    bottom: 4px;

  }

  .timeHidden {
    color: transparent;
  }


}



.userMessage {
  justify-content: right;
  //color: black;

  .content {
    border-radius: 9px 0 9px 9px;
    background-color: #67AEA9;


  }
}

@media (max-width: 820px) {
  .container {

    .content {
      max-width: 70vw;
    }
  }
}