.border {
  border: 1px solid #DFDFDF;
  border-radius: 14px;
  max-height: 170px;
  height: 100%;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 630px) {
  .border{
    max-height: 126px;
  }
}
