.border {
  border: 1px solid #DFDFDF;
  border-radius: 14px;
  height: 170px;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  .skeletonPhoto{
    width: 124px;
    height: 124px;
  }
}

@media (max-width: 630px) {
  .border{
    height: 126px;
    .skeletonPhoto{
      width: 100px;
      height: 100px;
      transform: translate(-10px,-10px);
    }
    .skeletonName{
      transform: translate(-40px,-10px);

    }
  }
}
