.container {



  .wrapper{
    user-select: none;

    //position: relative;
    height: 170px;
    width: 370px;
    border: 1px solid #DFDFDF;
    border-radius: 14px;
    box-sizing: border-box;
    margin: 17px auto 17px;
    display: flex;

    box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    transition: transform 0.1s linear, box-shadow 0.1s linear;
    cursor: pointer;

    position: relative;
    padding: 23px;
    &:hover{
      transform: translateY(-3px);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    }
    &:active{
      transform: translateY(-2px);

    }
    .photo{
      padding-top: 45px;//выравнивание по центру надписи(удалить)
      text-align: center;
      height: 124px;
      width: 124px;
      border: 1px #DFDFDF solid;
      border-radius: 14px;
      margin-right: 23px;
    }
    .about{
      font-size: 14px;
      .level{
        font-size: 18px;
        font-weight: 600;
      }


    }

}
}
