.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.container {
  height: 100%;
  padding: 30px;
  overflow: auto;
  .newDateWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .newDate {
      background-color: #638892;
      color: white;
      display: inline-block;
      margin: 0 auto;
      padding: 5px 10px 5px 13px ;
      border-radius: 50px;
    }

  }

}
.containerOverflowBlock{
  overflow: hidden;
}


@media (max-width: 820px) {
  .container{
    padding: 25px;
  }
}
@media (max-width: 400px) {
  .container{
    padding: 15px;
  }
}