.container {
  height: 500px;
  width: 100%;
  background-color: #9BD0D0;
  padding: 25px 30px 25px 30px;

  border-radius: 10px 10px 0 0;

  .messages::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .messages {
    display: flex;
    flex-direction: column;
    overflow: auto;
    //background-color: red;
    width: 100%;
    height: 100%;
  }


}