

.continueButton {
  position: relative;
  height: 30px;
  background-color: #78BBB8;
  border-radius: 5px;
  border: 0;
  color: #F4F4F4;
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.1s linear;
  margin-top: 5px;


  .loadingGif{
    position: absolute;
    top: -5px;
    right: 116px;
    width: 40px;
    height: 40px;
  }
}

.continueButtonActive {
  opacity: 1;
  cursor: pointer;

}


@media (max-width: 820px) {
 .continueButtonActive{
   cursor: default;
 }
}