.container {
  border-radius: 0 0 23px 23px;
  width: 1280px;
  min-width: 1280px;
  height: 720px;
  max-height: 720px;
  margin: 0 auto;

  .content{
    position: absolute;
    min-height: 650px;
    width: 1280px;
    border-radius: 0 0 23px 23px;
    background-color: #F4F6F7;
    z-index: 2;
  }
}