.container {
  .block{
    margin-bottom: 7px;
  }
  .regInput{
    height: 26px;
    border-radius: 5px;
    border: 0;
    padding-left: 7px;
    width: 100%;
    font-size: 15px;
    margin-top: 3px;
    padding-bottom: 2px;
  }
  .passwordMode{
    padding-bottom: 3px;
  }
  .titleFromBlocks{
    font-size: 15px;
    //margin-bottom: 3px;
    margin-left: 1px;
  }
}