.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 650px;
  width: 100%;
  overflow: auto;
  grid-column-gap: 35px;
  grid-row-gap: 0;
  justify-content: flex-start;
}


@media (max-height: 430px) {
  .container {
    height: 100svh;
    padding-top: 80px;
  }
}
//максимальный размер header
@media (width <= 820px) {
  .container{
    height: calc(100svh - 50px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(13, 1fr);
  }
}

@media (width <= 630px) {
  .container {

  }
}
@media (width <= 380px) {
  .container {
    //grid-template-columns: repeat(1, 1fr);
    //grid-template-rows: repeat(2, 1fr);
  }
}

