.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 650px;
  width: 100%;
  overflow: auto;
  grid-column-gap: 35px;
  grid-row-gap: 0px;
}

//максимальный размер header
@media (max-width: 820px) {
  .container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}
@media (max-width: 820px) {
  .container{
    padding-top: 90px;
    height: 100vh;
  }
}
@media (max-width: 630px) {
  .container {
    padding-top: 80px;

  }
}
@media (max-width: 380px) {
  .container {
    //grid-template-columns: repeat(1, 1fr);
    //grid-template-rows: repeat(2, 1fr);
  }
}

