.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);


  height: 650px;
  overflow: auto;

}

