.container {
  position: fixed;
  top: 50%;
  left: 50%;

  z-index: 1000;

  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.6;


  }

  .window {
    position: absolute;
    transform: translate(-50%, -44%);
    padding: 25px;
    background-color: #F4F6F7;
    height: 554px;
    width: 550px;
    border-radius: 14px;

    .backButtonOverlay{
      position: absolute;
      left: 0;
      top: 0;
      height: 100lvh;
      width: 100vw;
      //background-color: black;


    }
    .backButton {
      background-color: transparent;
      padding: 0;
      position: absolute;
      top: -45px;
      right: 13px;
      border: 0;
      cursor: default;
      display: none;
      z-index: 1200;

      &:active {
        transform: translateY(0.5px);
      }
    }
  }

}

@media (width<=820px) {
  .container {
    left: 0;
    top: 50px;

    .overlay{
      display: none;
    }
    .window {
      display: flex;
      flex-direction: column;
      position: static;
      border-radius: 0;

      height: calc(100svh - 50px);
      width: 100vw;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      .backButton{
        display: flex;
      }

    }
  }
}

//
//@media (max-width: 630px) {
//  .container {
//    .window {
//      width: 450px;
//    }
//  }
//}
//
//@media (max-width: 470px) {
//  .container {
//
//    .window {
//      width: 330px;
//
//      .topWindow {
//        .photoContainer {
//          min-height: 150px;
//          min-width: 150px;
//          height: 150px;
//          width: 150px;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: 350px) {
//  .container {
//
//    .window {
//      width: 280px;
//      height: 400px;
//      font-size: 13px;
//
//      .topWindow {
//        .about {
//          font-size: 15px;
//
//          .level {
//            font-size: 19px;
//
//          }
//        }
//
//        .photoContainer {
//          min-height: 100px;
//          min-width: 100px;
//          height: 100px;
//          width: 100px;
//        }
//      }
//    }
//  }
//}

@media (max-height: 430px) {
  .container {
    .window {
      //transform: translate(-50%, -15%);
      height: 70vh;

      .topWindow {
        .photoContainer {
          min-height: 100px;
          min-width: 100px;
          height: 100px;
          width: 100px;
          margin: 0 30px 10px 0;

        }
      }

    }

    .overlay {
      height: 100vh;
    }
  }
}