.container {
  height: 100%;
  .editButtons {

    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


    &:active {
      transform: translateY(0.5px);
    }
  }

  .saveButton {
    position: absolute;
    right: 25px;
    bottom: 25px;
    background-color: #9BD0D0;
    color: #FFFFFF;

  }

  .editInfoInputs {
    position: absolute;
    top: 20px;
    left: 250px;

    .aboutInput {
      display: flex;
      flex-direction: column;
      max-width: 200px;
      width: 100%;
      font-size: 17px;
      margin-top: 10px;
      border: none;
      outline: none;
      border-radius: 6px;
      padding-left: 10px;
      padding-right: 10px;

      background-color: rgba(0, 0, 0, 0.1);
      transition: 300ms ease-in-out;

      &:focus {
        background-color: white;
        transform: scale(1.02);

      }


    }
  }


  .aboutArea {
    font-size: 16px;
    height: 220px;
    width: 100%;
    outline: none;
    border: 0;

    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    overflow: auto;
    word-wrap: break-word;
  }
}

@media (width < 820px) {
  .container {
    .editInfoInputs {
      .aboutInput {
        width: 35vw;
      }

    }

    .aboutArea {
      height: 100%;
    }
  }
}

@media (max-width: 420px) {
  .container {
    .editInfoInputs {
      left: 200px;

      .aboutInput {
        width: 35vw;
      }

    }

    .aboutArea {
    }
  }
}

@media (max-width: 350px) {
  .container {
    .editInfoInputs {
      left: 165px;

      .aboutInput {
        width: 40vw;
      }

    }

    .aboutArea {
      font-size: 16px;
    }
  }
}

