.container {
  white-space: pre-wrap;
  ::-webkit-scrollbar {
    //height: 100px;
  }
  .note {
    height: 220px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    overflow: auto;


  }
}