.container {
  position: fixed;
  top: 50%;
  left: 50%;

  z-index: 50;


  .overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.4;
  }


  .window{
    position: absolute;
    transform: translate(-50%, -44%);
    height: 550px;
    width: 600px;
    background-color: #638892;
    border-radius: 12px;
    border: 2px #DFDFDF solid;
    font-size: 18px;



    .titleBlock{
      display: flex;
      width: 596px;
      height: 50px;
      border-bottom: 2px #DFDFDF solid;
      font-size: 22px;
      margin-bottom: 16px;
      color: #FFFFFF;
      justify-content: center;
      align-items: center;
      .titleInput{
        background-color: transparent;
        color: white;
        border: 0;
        width: 100%;
        text-align: center;
      }
    }
    .textBlock{
      width: 570px;
      height: 425px;
      background-color: #FFFFFF;
      border-radius: 10px;
      margin: 0 auto;
      padding: 15px 20px 20px 20px ;
      white-space: pre-wrap;

      .textInput{
        height: 100%;
        width: 100%;
        padding: 0;
        background-color: transparent;
        border: 0;
        outline: none;
      }
    }
    .date {
      position: absolute;
      display: flex;
      height: 29px;
      left: 13px;
      bottom: 13px;
      background-color: #D9D9D9;
      border-radius: 6px;
      padding: 0 10px 0 10px;
      text-align: center;
      align-items: center;
    }
    .greenDate {
      background-color: #9EDE95;
    }

    .redDate {
      background-color: #ff8b90;
    }
    .editButton{
      position: absolute;
      bottom: 13px;
      right: 130px;

      cursor: pointer;
      background-color: #FFFFFF;
      //border: 1px #DFDFDF solid;
      border: 0;
      border-radius: 6px;
      width: 110px;
      height: 29px;


      &:active{
        transform: translateY(1px);
      }

    }
    }
  .borderEdit{
    border: 2px solid #4e4e4e;
  }

  }



