.container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.4;
  }

  .window {
    position: absolute;
    transform: translate(-50%, -44%);
    height: 550px;
    width: 600px;
    background-color: #638892;
    border-radius: 12px;
    border: 2px #DFDFDF solid;
    font-size: 18px;

    .titleBlockWrapper {
      padding: 0 10px 0 10px;
      border-bottom: 2px #DFDFDF solid;
      min-height: 50px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: center;


      .titleBlock, .titleInput {
        padding: 5px 0 5px 0;
        color: white;
        display: flex;
        font-size: 21px;
        width: 100%;
        border: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        word-break: break-word;
        background-color: transparent;
        text-align: center;

      }

      .titleBlock {
      }

      .titleInput {
        height: 41px;
        outline: none;
        overflow-y: hidden;
        //padding-left: 5px;
      }
    }


    .textBlockWrapper {
      padding: 0 13px 0 13px;

      .textBlock, .textInput {
        width: 100%;
        height: 425px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin: 0 auto;
        padding: 15px 20px 20px 20px;
        white-space: pre-wrap;
        overflow: auto;
        border: 0;
        outline: none;
        word-wrap: break-word;


      }
    }


    .time {
      position: absolute;
      left: 13px;
      bottom: 13px;

    }

    .yearMonthDay {
      position: absolute;
      left: 84px;
      bottom: 13px;

    }

    .date {
      display: flex;
      height: 29px;
      background-color: #D9D9D9;
      border-radius: 6px;
      padding: 0 10px 0 10px;
      text-align: center;
      align-items: center;
    }

    .greenDate {
      background-color: #9EDE95;
    }

    .redDate {
      background-color: #ff8b90;
    }

    .editButton {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      bottom: 13px;
      right: 130px;

      cursor: pointer;
      background-color: #FFFFFF;
      //border: 1px #DFDFDF solid;
      border: 0;
      border-radius: 6px;
      min-width: 110px;
      height: 29px;


      &:active {
        transform: translateY(1px);
      }

    }
  }

  .borderEdit {
    border: 2px solid #4e4e4e;
  }

  .backButton {
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: -45px;
    right: 13px;
    border: 0;
    cursor: default;
    display: none;
    z-index: 1200;

    &:active {
      transform: translateY(0.5px);
    }
  }

}


@media (width <= 820px) {

  .container {
    .backButton {
      display: block;
    }

    position: static;

    .overlay {
      display: none;
    }

    .window {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      height: calc(100svh - 50px);
      width: 100vw;
      background-color: #F4F6F7;
      border-radius: 0;
      border: 0;
      display: flex;
      flex-direction: column;

      .titleBlockWrapper {
        padding: 0 10px 0 10px;

        .titleBlock, .titleInput {
          color: black;
          font-size: 20px;
        }

        .titleInput {
          padding-left: 0;
          height: auto;
        }
      }


      .textBlockWrapper {
        padding: 0 15px 60px 15px;
        height: 100%;

        .textBlock, .textInput {
          //width: 570px;
          width: 100%;
          //height: 425px;
          height: 100%;
          background-color: #FFFFFF;
          border-radius: 10px;
          margin: 0 auto;
          padding: 15px 20px 20px 20px;
          overflow: auto;
        }
      }

      .time {
        left: 15px;
        bottom: 15px;
      }

      .yearMonthDay {
        left: 89px;
        bottom: 15px;

      }

      .editButton {
        cursor: default;
        border: 1px solid #D9D9D9;
        bottom: 15px;
        right: 135px;

      }
    }
  }
}


@media (width <= 460px) {
  .container {
    .window {
      .titleBlockWrapper {
        .titleBlock, .titleInput {
          font-size: 18px;
        }
      }
      .textBlockWrapper {
        padding-bottom: 15px;
        .textBlock, .textInput {
          font-size: 18px;
        }
      }
      .taskBottom {
        display: flex;
        flex-direction: column;
        padding: 0 15px 15px 15px;
        .dateBlock{
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;

          .time, .yearMonthDay {
            position: static;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
        .buttonsBlock{
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          .editButton {
            position: static;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px 0 10px;
          }
        }
      }
    }
  }
}

@media (height <= 430px) {
  .container {
    .window {
      transform: translate(-50%, -15%);
    }

    .overlay {
      height: 1020px;
    }
  }
}

