.container {
  position: fixed;
  top: 50%;
  left: 50%;

  z-index: 50;


  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.4;
  }


  .window {
    position: absolute;
    transform: translate(-50%, -44%);
    height: 550px;
    width: 600px;
    background-color: #638892;
    border-radius: 12px;
    border: 2px #DFDFDF solid;
    font-size: 18px;

    .titleBlockWrapper {
      padding: 0 10px 0 10px;

      .titleBlock {
        word-wrap: break-word;

        display: flex;
        //width: 596px;
        width: 100%;
        height: 50px;
        border-bottom: 2px #DFDFDF solid;
        font-size: 22px;
        margin-bottom: 16px;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;

        .titleInput {
          background-color: transparent;
          color: white;
          border: 0;
          width: 100%;
          text-align: center;
        }
      }
    }


    .textBlockWrapper {
      padding: 0 13px 0 13px;

      .textBlock {
        //width: 570px;
        width: 100%;
        height: 425px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin: 0 auto;
        padding: 15px 20px 20px 20px;
        white-space: pre-wrap;
        overflow: auto;

        .textInput {
          height: 98%;
          width: 100%;
          padding: 0;
          background-color: transparent;
          border: 0;
          outline: none;
        }

        word-wrap: break-word;


      }
    }


    .time {
      position: absolute;
      left: 13px;
      bottom: 13px;

    }

    .yearMonthDay {
      position: absolute;
      left: 84px;
      bottom: 13px;

    }

    .date {
      display: flex;
      height: 29px;
      background-color: #D9D9D9;
      border-radius: 6px;
      padding: 0 10px 0 10px;
      text-align: center;
      align-items: center;
    }

    .greenDate {
      background-color: #9EDE95;
    }

    .redDate {
      background-color: #ff8b90;
    }

    .editButton {
      position: absolute;
      bottom: 13px;
      right: 130px;

      cursor: pointer;
      background-color: #FFFFFF;
      //border: 1px #DFDFDF solid;
      border: 0;
      border-radius: 6px;
      width: 110px;
      height: 29px;


      &:active {
        transform: translateY(1px);
      }

    }
  }

  .borderEdit {
    border: 2px solid #4e4e4e;
  }

}


@media (max-height: 430px) {
  .container {
    .window{
      transform: translate(-50%, -15%);

    }
    .overlay {
      height: 1020px;
    }
  }
}

@media (max-width: 820px) {

  .container {
    .window {
      .editButton {

        cursor: default;
      }
    }

  }
}


@media (max-width: 630px) {
  .container {
    .window {
      width: 450px;

      .titleBlockWrapper {
        .titleBlock {
          font-size: 18px;
          line-height: 1;
        }

      }

      .textBlockWrapper {
        .textBlock {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .container {

    .window {
      .time{
        font-size: 14px;
      }
      .yearMonthDay{
        font-size: 14px;
        left: 62px;
      }
      .editButton{
        font-size: 14px;
        width: 80px;
        right: 101px;
      }

      .date{
        padding: 0 3px 0 3px;
      }


      width: 330px;
      .titleBlockWrapper {
        .titleBlock {
          font-size: 13px;
          line-height: 1;
        }

      }
      .textBlockWrapper {
        .textBlock {
          font-size: 13px;
          padding: 10px 15px 15px 15px;

        }

      }
      .topWindow {
        .photoContainer {
          min-height: 150px;
          min-width: 150px;
          height: 150px;
          width: 150px;
        }
      }

    }
  }
}

@media (max-width: 350px) {
  .container {

    .window {
      .yearMonthDay{
        left: 52px;
      }
      .editButton{
        font-size: 12px;

        width: 70px;
        right: 86px;
      }

      .date{
        font-size: 12px;

        //padding: 0 3px 0 3px;
      }



      width: 280px;
      height: 400px;
      font-size: 13px;
      .titleBlockWrapper {
        .titleBlock {
          font-size: 11px;
          line-height: 1;
        }

      }
      .textBlockWrapper {
        .textBlock {
          font-size: 11px;
        }
      }

      .textBlockWrapper {
        .textBlock {
          height: 276px;
        }
      }
      .topWindow {
        .about {
          font-size: 15px;

          .level {
            font-size: 19px;

          }
        }

        .photoContainer {
          min-height: 100px;
          min-width: 100px;
          height: 100px;
          width: 100px;
        }
      }


    }
  }
}



