.container {
  position: relative;
  padding: 40px;
  height: 650px;

  .contentTop{
    display: flex;

    .photo{
      text-align: center;

      width: 245px;
      height: 245px;
      border: 2px #DFDFDF solid;
      border-radius: 14px;
      margin: 0 40px 40px 0;
    }
    .cardProfile{
      position: absolute;
      right: 40px;
      top: 40px;
    }
  }

}